<!DOCTYPE html>

<html>
<head>
 {% load static %}
  
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'members/create_profile.css' %}">
    <title>create profile</title>
    <script>
        function updateTime() {
            document.getElementById('current-time').textContent = new Date().toLocaleTimeString();
        }
        window.onload = function() { updateTime(); setInterval(updateTime, 1000); };
    </script>
</head>

<body>
<div class="container">
    <div class="top">
        <div class="time-back">
        <p id="current-time"></p>
        <button id="back_button" onclick="history.back()"> &lt;  Back</button>
       
        </div>
        <img id="cones" src="{% static 'members/images/cones.png' %}" alt="Fairy Club Logo">
    </div>
    <div class="level_bar">
         <p>Step 1 out of 3</p>
         <img id="cones" src="{% static 'members/images/bar1.png' %}" alt="Fairy Club Logo">
    </div>

    <div class="form-container">
        <div class="logo">

            <h1>Create Your Childs Fairy Profile</h1>

            <img id="cones" src="{% static 'members/images/star.png' %}" alt="Fairy Club Logo">
        </div>
       
       <br/>
       <form action="{% url 'create_profile' %}" method="POST" enctype="multipart/form-data">
           {% csrf_token %}

           <input type="text" name="child_name" placeholder="Child's Name"><br><br>
           <input type="number" name="child_age" placeholder="Child's Age"><br><br>
           <div class="button-container">  

              <button id="button-container" type="submit">Continue</button><br><br>

           </div>
    </div>


</div>

</body>
</html>
