{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'members/password_reset.css' %}">
    <title>Password Reset Email Sent</title>
</head>
<body>
<div class="reset-container">
    <h3>Password Reset Email Sent</h3>
    <p>An email has been sent to your registered email address with instructions to reset your password.</p>
</div>
</body>
</html>
