{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'members/password_reset.css' %}">
    <title>Reset Your Password</title>
</head>
<body>
<div class="reset-container">
    <h3>Reset Your Password</h3>
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="update_password" value="Update Password">
    </form>
</div>
</body>
</html>
